{% extends 'base.html' %}
{%block title %}About Page{%endblock%}
{% load static %}
{% block content %}
  <h1 class="about text-center">About Us</h1>
<div><p>In the short span of its existence, Sree Budha Hospital has created its niche on the map of quality healthcare delivery in South India by touching nearly 2 million lives. Having earned the trust and loyalty of patients through the compassion of its caregivers and high-precision medical technology, the institution has emerged as the leading quaternary care facility in the region.

Sree Budha Hospital, established in 2014 was a thoughtful initiative from the renowned Sree Budha(CMI) group of institutions to offer quality and affordable medical care to the common man. The legacy of Sree Budha in pioneering a distinctive culture in the educational sector has helped them carve an exemplary medical institution in Kerala. The hospital is well laid out in a 40 acre green landscape in the serene setting of Chunangamvely, Aluva and is the closest facility to the Cochin International Airport.

The consistent pursuit of achieving uncompromised excellence in healthcare has won Sree Budha Hospital many accolades and appreciation on national and international platforms. The Hospital is accredited by the Joint Commission International (JCI) with the gold seal for complying with the highest international standards on patient safety and quality of care. The hospital is also accredited by the National Accreditation Board for Hospitals and Healthcare Providers (NABH), National Accreditation Board for Testing and Calibration Laboratories (NABL) and NABH certification for Nursing Excellence and has received ISO 22000:2018 certification for its Food & Beverages services.

The synergy of western medicine and Ayurveda, offers the patients a holistic healing experience. Integrating telehealth technology to its service spectrum, Rajagiri Hospital has paved the way to reach out to patients beyond borders. Today, the Hospital has grown to be the first choice among the domestic and international patients for their healthcare needs.


</p>
</div>
<div class="about_image float_left">
    <img src="{% static '/image/aboutbanner.jpg' %}" alt="" height="450px">
</div>
<div><h3>Our Vision & Mission
</h3>
    <p>*To give life abundantly </p>
<p>*To provide the most advanced & scientific, curative, preventive & promotive healthcare that leads to an ‘abundance of life’.To undertake specialized and holistic healthcare services of world standard and to provide them to all sections of the society, with special concern for the marginalized.</p>
<p>     *To grow into a model & global leader in healthcare, innovative teacher in medical sciences & pioneering research centre on health.
</p>
</div>

 {% endblock %}
